* {
    margin: 0;
    padding: 0;

}

body {
    background-color: blue;
}
.container {
    width: 600px;
    height: 200px;
    background-color:rgb(160, 156, 156) ;
    margin: 200px auto;
    border-radius: 20px;
    display: flex;
    padding: 40px 20px 20px 20px;
}
/* LEFT CONTAİNER */

.left {
    background-color:rgb(27, 21, 118);
    flex: 1.2;
    position: relative;
    

}

.square {
    width:40px;
    height: 40px;
    background-color:rgb(7, 7, 49);
    position: relative;
}

.square-1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    
    
    
}
.square-2 {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%);
    width: 36px;
    height: 36px;
    
    border-top: 2px solid white;
    border-left:2px solid white ;
    border-bottom:2px solid white ;
}
.square-3 {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(100%);
    width: 36px;
    height: 36px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    
}
.square-4 {
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    transform: translateY(100%);
    
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
}

.square-5 {
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 36px;
    transform: translateY(-100%);
    border-left: 2px solid white;
    border-top: 2px solid white;
    border-right: 2px solid white;
    
}
#beyaz {
    background-color:white;
    width: 2px;
    height: 2px;
    position: absolute;
}

/* MİDDLE CONTAİNER */

.middle {
    background-color:rgb(27, 21, 118);
    flex: 1;
    display: flex;
    flex-direction: column;
    
}

.mid-item {
    background-color:rgb(160, 156, 156);
    
    height: 35px;
    margin-bottom: 10px;

}

.mid-item-3 {
    height: 30px;
    text-align:center;
    font-weight:900;
    color:brown;
    padding-top:10px;    
}

.mid-item-4 {
    height:60px;
    border: 10px inset rgb(160, 156, 156);
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    background-color:white;
    width:50px;
    height:30px;
    border-radius:15px;
    box-shadow: 5px 3px 3px gray;

}

.mid-item-5 {
    height:20px;
    margin-bottom:0;
}
/* RİGHT CONTAİNER */
.right {
    
    background-color:rgb(27, 21, 118);
    flex: 1.2;
    display: flex;
    flex-direction: column;
}
.right-top {
    flex:1;
    
    display: flex;
    justify-content:center;
    align-items:center;
}

.right-top>p {
    color:red;
    font-size:24px;
    font-weight:900;
    border:2px solid red;
    padding:0 5px;
    border-radius: 14px;

}
.right-bottom {
    flex:1;
    background-color:rgb(27, 21, 118);
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}

.buttons {
    width:65px;
    height:65px;
    background-color:rgb(160, 156, 156);
    border-radius:8px;
    position:relative;
    
}

.circle {

    width:55px;
    height:55px;
    background-color:red;
    border-radius:50%;
    position:absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 
    0 0 2px 3px  white;
    
}
.buttons p {
    color: red;
    position:absolute;
    left:40%;
    top:100%;
    font-weight: 900;
    font-size:16px;

}